
@{
    ViewBag.Title = "Guncellemeler";
    ViewBag.BreadCrumb1Text = "Başlangıç";
    ViewBag.BreadCrumb1Link = "/baslangic/gosterge-paneli";
    ViewBag.BreadCrumb2Text = "Güncellemeler";
    ViewBag.BreadCrumb2Link = null;
    ViewBag.HeadText = "Güncellemeler";
    ViewBag.SmallText = "Güncelleştirme durumu";
}

<h4>Backoffice’in en son sürümünü kullanıyorsunuz. Gelecek güvenlik güncellemeleri otomatik uygulanacak.</h4>

1.0.0–tr_TR sürümünü yeniden kurmak isterseniz, buradan kurabilirsiniz: