@using Tse.Dal.Backoffice.Model;
@model List<Durum>
@{
    ViewBag.Title = "Yeni Ülke";
    ViewBag.BreadCrumb1Text = "Başlangıç";
    ViewBag.BreadCrumb1Link = "/baslangic/gosterge-paneli";
    ViewBag.BreadCrumb2Text = "Ülkeler";
    ViewBag.BreadCrumb2Link = "/ulkeler/tum-ulkeler";
    ViewBag.BreadCrumb3Text = "Yeni Ülke Ekle";
    ViewBag.BreadCrumb3Link = null;
    ViewBag.HeadText = "Yeni Ülke Ekle";
    ViewBag.SmallText = null;
}

<div class="row">
    <div class="col-md-12">
        <!-- BEGIN VALIDATION STATES-->
        <div class="portlet light portlet-fit portlet-form">
            <div class="portlet-body">
                <!-- BEGIN FORM-->
                <form action="#" id="form_sample_1" class="form-horizontal">
                    <div class="form-body">
                        <div class="alert alert-danger display-hide">
                            <button class="close" data-close="alert"></button>                             
                             Bazı alanları hatalı girdiniz. Lütfen belirtilen alanları kontrol edin..
                        </div>
                        <div class="alert alert-success display-hide">
                            <button class="close" data-close="alert"></button> Your form validation is successful!
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">
                                Name
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-4">
                                <input type="text" name="name" data-required="1" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">                            
                            <label class="control-label col-md-3">
                                Select
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-4">
                                <select class="form-control" name="select">                                    
                                    <option value=""> Seçin.. </option>
                                    @foreach (var i in Model)
                                    {
                                        <option value="@i.DurumID">@i.DurumAdi</option>
                                    }                                    
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn green">Kaydet</button>
                                <button type="button" class="btn grey-salsa btn-outline">Vazgeç</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
        <!-- END VALIDATION STATES-->
    </div>
</div>



