@model  Tse.Dal.Backoffice.Model.Hata
@{
   Layout = null;
}
<html lang="tr">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>Hata</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Bilinmeyen bir hata oluştu." name="description" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />    
    <link href="/Content/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="/Content/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/assets/pages/css/error.min.css" rel="stylesheet" type="text/css" />    
    <link rel="shortcut icon" href="favicon.ico" />
</head>
<body class="page-404-3">
    <div class="page-inner">
        <img src="/Content/assets/pages/media/pages/earth.jpg" class="img-responsive" alt="">
    </div>
    <div class="container error-404">
        <h1>Hata No: @Model.HataID</h1>
        <h2>@Model.Baslik</h2>
        <p>@Model.Detay</p>
        <p>
            <a href="/" class="btn red btn-outline"> Başlangıç </a>
            <br>
        </p>
    </div>       
</body>

</html>